

body {
    margin: 0;
}

.canvas-control {
    height: 50px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid blueviolet;
    grid-column: 4/9;
    grid-row: 1/2;
    z-index: 6;
}

.container{
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10,10vh);
    grid-template-areas: 
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
    "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas"
}

.canvas{
    grid-area: canvas;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}